<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
      <h1>Disease Recommender System</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="hc-Container">
<div class="hc-Banner">
<ul class="menu">
    <li class="link1">
      <a href="/" class="hyperlink"><span>Home</span></a>
    </li>
    <li class="link1">
      <a href="/about" class="hyperlink">About Us</a>
    </li>
    <li class="link1">
      <a href="/help" class="hyperlink">Help</a>
    </li>
        

  </ul>
</div>

      <div class="hc-Form">

        <div class="hc-Form-heading">About Us</div>
        lkjsdaskldas;ldkjas'daskd'asjdasjd'saj
      </div>
      <p>
        <a href="https://www2.gmu.edu/">
          <img src = "/images/mason-logo-green.png" class="img" alt = "Contact Page" />
        </a>
      </p>
    </div>
  </body>
</html>
