<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="hc-Container">
      <h1>INFS 740</h1>
      <% if (diagnosis.length > 0) { %>
        <p>
          We think you Have
          <ul>
          <% diagnosis.forEach((d) => { %>
            <li><%= d %></li>
          <% }); %>
          </ul>
        </p>
        <p>
          <a href="/treatments?specialists=<%= specialists %>">
            View recommended specialists in your area
          </a>
        </p>
      <% } else { %>
        <p>We didn't find any matches</p>
      <% } %>
      <br />
      <a href='/'>Try again</a>
    </div>
  </body>
</html>
