<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
      <h1>Disease Recommender System</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="hc-Container">
<div class="hc-Banner">
<ul class="menu">
    <li class="link1">
      <a href="#home" class="hyperlink"><span>SymptomChecker</span></a>
    </li>
    <li class="link1">
      <a href="#home" class="hyperlink">About</a>
    </li>
        <li class="link1">
          <a href="#home" class="hyperlink">Contact</a>
        </li>
    <li class="link1">
      <a href="#home" class="hyperlink">Help</a>
    </li>
        

  </ul>
</div>

      <div class="hc-Form">

        <div class="hc-Form-heading">Please provide your information</div>
        <form action="/diagnosis" method="post">
        <label for="field1"><span>Symptoms <span class="required">*</span></span><input type="text" placeholder="Headache" class="input-field" name="symptoms" value="" /></label>
        <label for="field2"><span>Year of birth <span class="required">*</span></span><input type="text" placeholder="1989" class="input-field" name="age" value="" /></label>
        <label><span>Gender</span>
              <!--<label for="male"><input type="radio" class="choice" id="male" name="gender" value="male" checked />Male</label>
              <label><span></span></label><label for="female"><input class="choice" type="radio" id="female" name="gender" value="female"/>Female</label></label>-->
              <input type="radio" class="choice" id="male" name="gender" value="male" checked />Male<br/>
              <input class="choice" type="radio" id="female" name="gender" value="female"/>Female</label>
        <label><span ></span><input type="submit"  value="Submit" /></label>
        </form>
      </div>
      <p>
        <a href="https://www2.gmu.edu/">
          <img src = "/images/mason-logo-green.png" class="img" alt = "Contact Page" />
        </a>
      </p>
    </div>
  </body>
</html>
