<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
      <h1>Disease Recommender System</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<div class="hc-Banner">
<ul class="menu">
    <li class="link1">
      <a href="#home" class="hyperlink"><span>Home</span></a>
    </li>
    <li class="link1">
      <a href="/about" class="hyperlink">About Us</a>
    </li>
    <li class="link1">
      <a href="/help" class="hyperlink">Help</a>
    </li>
  </ul>
</div>
<div>
      <div class="hc-Form" style=" height: 50%; float: left;">
        <div class="hc-Form-heading">Please provide your information</div>
        <form action="/diagnosis" method="post">
        <label for="field1"><span>Symptoms <span class="required">*</span></span><input type="text" placeholder="Headache" class="input-field" name="symptoms" value="" required/></label>
        <label for="field2"><span>Year of birth <span class="required">*</span></span><input type="text" placeholder="1989" class="input-field" name="age" value="" required/></label>
        <label for="field3">
          <span>ZIP Code</span>
          <input type="text" placeholder="22320" class="input-field" name="zip" value="" />
        </label>
        <label><span>Gender</span>
        <input type="radio" class="choice" id="male" name="gender" value="male" checked />Male<br/>
        <input class="choice" type="radio" id="female" name="gender" value="female"/>Female</label>
        <label><span ></span><input type="submit"  value="Submit" /></label>
        </form>
      </div>
	  <div style="width: 50%; height: 50%; float: left; padding: 2px">

        <script async defer src='//p3k.org/rss/main.js?align=initial&amp;boxFillColor=%23fff1e1&amp;fontFace=10pt%20sans-serif&amp;frameColor=%23b3a28e&amp;height=500&amp;
        linkColor=%232c7395&amp;maxItems=6&amp;radius=11&amp;showXmlButton=true&amp;textColor=%2395412b&amp;titleBarColor=%23ff8040&amp;titleBarTextColor=%23fff1e1&amp;
        url=https%3A%2F%2Frssfeeds.webmd.com%2Frss%2Frss.aspx%3FRSSSource%3DRSS_PUBLIC&amp;width=600'></script>
    </div>
</div>
  <p class="image">
    <a href="https://www2.gmu.edu/">
      <img src = "/images/mason-logo-green.png" alt = "Contact Page" />
    </a>
  </p>

  </body>
</html>
