body {
  background-color: #eeeeee;
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
    color: #006940;

}

.hc-Form{

	padding-left: 100px;
        padding-top: 10px;
		padding-right: 100px;
	/*padding: 20px 12px 10px 20px;*/
	font: 13px Arial, Helvetica, sans-serif;
}
.hc-Form-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	text-align: center;
        color: #006940;
}
.hc-Form label{
	display: block;
	margin: 0px 0px 15px 0px;
        color: #006940;
}
.hc-Form label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.hc-Form span.required{
	color:red;
}

.hc-Form input.input-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.hc-Form .input-field:focus{
	border: 1px solid #0C0;
}
.hc-Form .choice{
	display: inline;
}
.hc-Form input[type=submit],
.hc-Form input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #fc3;
	color: #006940;
        font-weight: bold;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.hc-Form input[type=submit]:hover,
.hc-Form input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}

.img{
	text-align: right;
	padding-bottom: 25px;
   }

.hc-Banner span.banners{
    padding: 10px;
    color: #006940;

}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fc3;
}

li.link1 {
    float: left;
}

li.link1 a.hyperlink {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #006940;
    font-weight: bold;
}

li.link1 a.hyperlink:hover {
    color:#fc3;
    background-color: #006940;
    font-weight: bolder;
}

.hc-Diagnosis {
  width: 80%;
  margin: 0 auto;
}

.hc-Diagnosis-result {
  border-right: 1px solid #fc3;
  padding: 5px;
  font-style: normal;
  font-weight: bold;

}

.hc-Diagnosis-resultDesc {
  text-align: left;
  padding: 5px;
}

.hc-Diagnosis-list {
  border: 1px solid #fc3;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100px auto;
}

.image{
	text-align: right;
	padding-top: 28%;
}


