<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="hc-Container">
      <h1>INFS 740</h1>
      <p>
        Please enter your information
      </p>
      <div class="hc-Form">
      </div>
    </div>
  </body>
</html>
