<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="hc-Container">
      <h1>INFS 740</h1>
      <p>
        Please enter your information
      </p>
      <div class="hc-Form">
        <form action="/diagnosis" method="post">
          Symptoms: <input placeholder="15" type="text" name="symptoms"><br />
          Year of birth: <input placeholder="1989" type="number" name="age"><br />
          Gender: <input type="radio" id="male" name="gender" value="male" checked />
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">Female</label>

          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
